<div class="d-flex">

    <div class="leftWrapper">
        <div class="d-flex mt-2 ml-4">
            <div class="circle">
                <p>{{userName[0]}}</p>
            </div>
            <div class="username">
                <h3>{{userName}}</h3>
            </div>
        </div>
        
        <hr>
        <div class="d-flex">
            <input class="form-control border-secondary  m-4" type="search" value="search" id="search">
        </div>

        <div class="d-flex justify-content-center mt-4">
            <i class="bi bi-infinity"></i>&nbsp;
            <p>All Tasks</p>
        </div>

        <div class="d-flex justify-content-center">
            <i class="bi bi-star-fill"></i>&nbsp;
            <p>Important Tasks</p>
        </div>

        <div class="d-flex justify-content-center">
            <i class="bi bi-check-circle"></i>&nbsp;
            <p>Completed Tasks</p>
        </div>

        <div class="d-flex justify-content-center mb-5">
            <i class="bi bi-circle"></i>&nbsp;
            <p>Pending Tasks</p>
        </div>

        <hr>

        <button (click)="openAddDialog()" class="btn btn-primary addButton"> <i class="bi bi-plus-lg"></i> Add Task</button>
    </div>

    <div class="rightWrapper">
        <div class="m-1 p-2 pt-3">
            <h1 class="font-weight-bolder">Things <button class="btn btn-dark float-right" routerLink="/login">Logout</button></h1>
        </div>

        <div class="tasks">
            <div class="card bg-light m-3" *ngFor="let task of tasks">
                <div class="card-body">
                  <h3 class="card-title">{{task.title}}
                  </h3>
                <p class="card-text">{{task.date}} 
                  <button class="btn float-right" (click)="deleteClick()"><i class="bi bi-trash"></i></button>
                  <button class="btn float-right" (click)="addToImpClick()"><i class="bi bi-star"></i></button>
                </p>
                <button (click)="markAsComplete()" class="btn btn-outline-success">Mark as complete</button>
                </div>
        </div>
    </div>

</div>