<div class="wrapper shadow-lg rounded d-flex flex-row">
    <div>
        <img class="m-5" src="https://img.freepik.com/premium-vector/cartoon-man-working-home-man-freelancers-working-laptop-computer-home-illustration_162786-91.jpg?w=2000" alt="" width="360">
        <a routerLink="/login" class="mb-5 d-flex justify-content-center text-decoration-none">Already registered ? Log in</a>
    </div>

    <div>
        <div class="m-5 p-5">
            <form>
                <h2 class="font-weight-bolder pt-2">Register</h2>
                <div class="form-group row pt-4">
                    <i class="bi-person-fill iconUser"></i>&nbsp;&nbsp;
                    <input type="text" placeholder="Username" class="form-control col">
                </div>
                <div class="form-group row pt-2">
                    <i class="bi-lock-fill iconUser"></i>&nbsp;&nbsp;
                    <input type="text" placeholder="Password" class="form-control col">
                </div>
                <div class="form-group row pt-2">
                    <i class="bi-lock-fill iconUser"></i>&nbsp;&nbsp;
                    <input type="password" placeholder="Conform Password" class="form-control col">
                </div>
                <button routerLink="/login" class="btn btn-outline-primary mt-4 pr-3 pl-3">Register</button>
            </form>
        </div>
    </div>
</div>